p {
    font-size: 20px;
    font-weight: bold;
}

.mat-dialog-container {
    background: white !important;
}

.des {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.w-clock-wrapper .w-clock .w-clock-step .mat-mini-fab {
    color: black !important;
}